* {
  padding: 0;
  margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
.allertBox {
  display: flex;
  justify-content: center;
}
  
  :root {
    --bg-dark: #31343b;
    --bg-light: #b0daff;
  }
  
  .light {
    background: var(--bg-dark);
  }
  
  .dark {
    background: var(--bg-light);
    
  }
  
  .c-light {
    color: #e2bef9;
  }
  
  .c-dark {
    color: #335e5d;
  }
  
  .custom-arrow {
    background: aquamarine;
  }
  .post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}